<div style="background-color: azure; padding: 10px" [formGroup]="form">
    <h3>
        {{model?.feature2Name}}
    </h3>
    <p>feature2 from App1 works!</p>

    <div formArrayName="employees">
        <div *ngFor="let item of stocks; let i = index;">
            <div [formGroupName]="i" style="padding: 10px">
                <span>
                    <span>First Name</span>
                    <input formControlName="firstName">
                </span>
                <span>
                    <span>Second Name</span>
                    <input formControlName="secondName">
                </span>
                <button (click)="onRemove(item, i)">&#10060;</button>
            </div>
        </div>
    </div>

    <button (click)="changed.emit('feature2')">feature 2 click</button>
</div>
